@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}




.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    margin-left: 2%;
    height: auto;
    width: 20%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}


.header .nav-links a{
    font-size: 700;
}



.menu {
    display:none;
}

.header .btn button,
.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}



@media screen and (max-width: 1040px){
    .nav-links {
        display: none;
    }
    .menu {
        display: inherit;
    }
    .textLogo {
        font-weight: bolder;
        color:#eceff1;
        display: flex;
        margin-bottom: -8%;
        font-size: 0.5rem;
      }

}



/*Nav Mobile*/

.header a{
    text-decoration: none;  
     
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.overlay-content {
    display: flex;
    
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

.descripcion {
    display: flex;
    font-size:medium;
}


.divForm {
    background-color: #1b3039;
    display: flex;
    place-content: center;
    margin-top: 5%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

.buttonBox {
    display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height:738px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .textLogo {
        font-weight: bolder;
        color:#eceff1;
        display: flex;
        margin-bottom: -8%;
        font-size: 0.10rem;
      }
}

.greeting {
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:x-large;
    margin-top: 1em;
}



.footer {
    background-color: #1b3039;
    color: #fff;
/*     padding: 20px;
 */    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    display: inline;
    justify-content: center;
    

  }
  
  .footer p {
    margin:0;
  }

  .logoFooter {
    width: 1%;
    margin-left: 1%;
    
    
  }

  .logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .textLogo {
    font-weight: bolder;
    color:#eceff1;
    display: flex;
    margin-bottom: -8%;
    font-size: 1rem;
  }

  .textLogoDiv {
    display: flex;
    display: inline;
    flex-direction: column;
  }

  a:visited {
    text-decoration: none;
  }


  .itemList {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 3em;
    padding: 10em;
    padding-top: 3em;
    

    


  }

 
 .itemDetail {
    display: flex;
    justify-content: center;
    
 }
 